
* {
    margin:0;
    padding:0;

}
.container{
top:50%;
left:50%;
position:absolute;
transform:translate(-50%,-50%);

}
.card{
  padding:60px 40px 50px 40px;
  background-color: rgb(50,50,50);
  border-radius:10px;
}
#name{
  
  width:200px;
  border:none;
  background:transparent;
  border-bottom:1px solid white;
  padding:6px;
  margin-bottom: 15px;
  color:white;
}
#button{
  border-radius:10px;
  padding:10px 20px;
  background:dodgerblue;
  color:azure;
  margin-top:10px;
  border:none;
  outline:none;
  margin-left:70px;

}
#button:hover{
  background-color: white;
  color:black;
  cursor:pointer;
}
img{
  border-radius:50%;
  position:absolute;
  margin-left:110px;
  margin-top:-40px;
}
